absl-py
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
dlib
docopt
Flask
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
Js2Py
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt_einsum
optree
packaging
pandas
pipwin
protobuf
Pygments
pyjsparser
PyPrind
pySmartDL
python-dateutil
pytz
requests
rich
scikit-learn
scipy
six
soupsieve
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
threadpoolctl
typing_extensions
tzdata
tzlocal
urllib3
Werkzeug
wrapt
